.feedback {
  position: relative;
  min-height: 455px;
  margin-bottom: 170px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.feedback__back {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: -1;
  width: 844px;
  height: 455px;
  background-color: $accent;
  background-image: url("../img/feedback-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/feedback-desktop@2x.jpg");
  }
}

.feedback__form {
  width: 656px;
  height: 315px;
  margin-right: -13px;
  padding: 50px;
  background-color: $white;
}

.feedback__form-title {
  @include clear-intervals(13px);
  @include font(25px, 32px, 0);
  font-weight: 600;
  text-align: center;
  color: $dark-grey;
}

.feedback__form-text {
  @include clear-intervals(23px);
  @include font(16px, 24px, 0);
  text-align: center;
  color: $dark-grey;
}

.feedback__form-row {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;

  &::before {
    position: absolute;
    top: 7px;
    left: 14px;
    z-index: 1;
    width: 10px;
    height: 10px;
    content: "\002A";
    color: $accent;
  }
}

.feedback__form-input {
  min-width: 269px;
  height: 50px;
  padding: 13px 15px 17px;
  border: 1px solid $light-opacity;

  &::placeholder {
    @include font(14px, 17px, 0);
    color: $dark-grey;
  }

  &--phone {
    padding-left: 23px;
  }
}

.feedback__form-button {
  width: 176px;
  height: 50px;
  margin: 0 auto;
  padding: 15px 40px;
  display: block;
  border: none;
}

@media (min-width: $tablet-min) and (max-width: $tablet-max) {
  .feedback {
    margin-bottom: 80px;
    justify-content: center;
  }

  .feedback__back {
    left: 0;
    min-width: $tablet-min;
    background-image: url("../img/feedback-tablet@1x.jpg");

   @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/feedback-tablet@2x.jpg");
    }
  }

  .feedback__form {
    margin: 0 auto;
  }

  .feedback__form-row {
    margin-bottom: 20px;
  }

  .feedback__form-button {
    width: 250px;
  }
}
