.footer {
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__title {
  @include clear-intervals(20px);
  @include font (18px, 32px, 0);
  font-weight: 600;
  color: $dark-grey;
}

.footer__promo {
  position: relative;
  width: 33.33%;
  padding-left: 13px;

  &::after {
    @include grey-line;
  }
}

.footer__promo-wrapper {
  display: flex;
}

.footer__promo-list {
  @include clear-intervals(0);
  width: 33.33%;
  list-style: none;
}

.footer__promo-item {
  margin-bottom: 9px;
}

.footer__promo-link {
  @include font(14px, 17px, 0);
  color: $link-grey;
}

.footer__contacts {
  position: relative;
  width: 33.33%;
  padding-left: 100px;

  &::after {
    @include grey-line;
  }
}

.footer__contacts-list {
  @include clear-intervals(0);
  list-style: none;
}

.footer__contacts-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer__contacts-link {
  @include font(14px, 17px, 0);
  text-decoration: underline;
  color: $accent;

  &--phone {
    @include font(16px, 32px, 0);
  }
}

.footer__contacts-short-email {
  display: none;
}

.footer__contacts-icon {
  margin-right: 15px;
  fill: $icon-color;

  &--phone {
    fill: none;
    stroke: $icon-color;
  }
}

.footer__corporate {
  width: 33.33%;
  padding-left: 60px;
}

.footer__corporate-text {
  @include clear-intervals(0);
  @include font(14px, 24px, 0);
  padding-right: 10px;
  color: $link-grey;
}

@media (min-width: $tablet-min) and (max-width: $tablet-max) {
  .footer {
    flex-wrap: wrap;
  }

  .footer__promo {
    width: 50%;
    padding-left: 21px;

    &::after {
      right: -33px;
      height: 177px;
    }
  }

  .footer__contacts {
    width: 50%;
    padding-left: 82px;
  }

  .footer__contacts-short-email {
    display: inline;
  }

  .footer__contacts-full-email {
    display: none;
  }

  .footer__corporate {
    width: 100%;
    flex-grow: 1;
    padding-left: 0;
    padding-top: 50px;
    text-align: center;
  }

  .footer__corporate-text {
    padding: 0 30px 0;
  }
}

@media (max-width: $mobile-max) {
  .footer {
    flex-direction: column;
  }

  .footer__promo,
  .footer__contacts,
  .footer__corporate {
    width: 100%;
  }

  .footer__title {
    padding-right: 10px;
    text-align: center;

    &--corporate {
      padding-right: 0;
    }
  }

  .footer__promo {
    padding: 0;

    &::after {
      left: 11px;
      right: 11px;
      top: auto;
      bottom: -11px;
      min-width: 288px;
      width: auto;
      height: 1px;
    }
  }

  .footer__promo-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__promo-list {
    width: 50%;
    text-align: center;

    &--second {
      padding-right: 20px;
    }

    &--third {
      padding: 10px 14px 0 0;
    }
  }

  .footer__contacts {
    margin-bottom: 22px;
    padding: 40px 0 0;

    &::after {
      left: 11px;
      right: 11px;
      top: auto;
      bottom: 5px;
      min-width: 288px;
      width: auto;
      height: 1px;
    }
  }

  .footer__contacts-list {
    padding-right: 10px;
  }

  .footer__contacts-item {
    justify-content: center;
  }

  .footer__contacts-short-email {
    display: inline;
  }

  .footer__contacts-full-email {
    display: none;
  }

  .footer__corporate {
    padding: 0;
    text-align: center;
  }

  .footer__corporate-text {
    padding: 0 15px;
  }
}
