.header__nav {
  min-height: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 55%;
}

.header__menu {
  @include clear-intervals(0);
  width: 25%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.header__menu-link {
  @include font(14px, 17px, 0);
  font-weight: 500;
  text-align: center;
  color: $dark-grey;

  &--active {
    color: $accent;
  }
}

.header__phone {
  @include font(18px, 32px, 0);
  width: 20%;
  text-align: center;
  text-decoration: underline;
  color: $accent;
}

.header__contacts-icon {
  stroke: $accent;
  fill: none;
}

@media (min-width: $tablet-min) and (max-width: $tablet-max) {
  .header__logo {
    width: 44px;
    height: 17px;
  }

  .header__nav {
    min-height: 50px;
    padding-left: 21px;
  }

  .header__menu,
  .header__contacts {
    display: none;
  }
}
