.places {
  padding-top: 199px;
}

.places__title {
  @include clear-intervals(64px);
  @include font(55px, 80px, -1.25px);

  position: relative;
  width: 358px;
  font-weight: 600;
  color: $grey;

  &::after {
    @include head-line(190px, 229px, 4px);
  }
}

.places__slogan {
  @include clear-intervals(56px);
  @include font(16px, 28px, -0.47px);

  width: 328px;
  color: $opacity-grey;
}

.places__preview-list {
  @include clear-intervals(0);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.places__preview-item {
  @include clear-intervals(95px);

  margin-right: 60px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(2) {
    margin-right: 120px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.places__preview-figure {
  @include clear-intervals(0);

  position: relative;
}

.places__preview-caption {
  @include font(24px, 29px, -0.41px);

  position: absolute;
  bottom: 0;
  left: 50%;
  width: 215px;
  padding: 19px;
  font-weight: 500;
  text-align: center;
  color: $grey;
  background-color: $white;
  transform: translateX(-50%);
}

.places__navigation-list {
  @include clear-intervals(95px);

  position: relative;
  width: 900px;
  display: flex;
  justify-content: space-between;
  list-style: none;

  &::after {
    position: absolute;
    top: 40px;
    left: 0;
    width: 900px;
    height: 2px;
    background-color: $light-opacity;
    content: "";
  }
}

.places__navigation-link {
  @include font(20px, 24px, -0.41px);

  font-weight: 500;
  text-align: center;
  color: $light-opacity;

  &--active {
    color: $accent;
  }
}

.places__description-list {
  @include clear-intervals(236px);
  position: relative;
  list-style: none;

  &::after {
    position: absolute;
    top: 15px;
    left: 50%;
    z-index: -1;
    width: 1444px;
    height: 1090px;
    content: url("../img/places-back.svg");
    transform: translateX(-50%);
  }
}

.places__description-item {
  width: 900px;
  display: flex;
  justify-content: space-between;

  &:not(:first-child) {
    display: none;
  }
}

.places__description-wrapper {
  width: 50%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.places__description-title {
  @include clear-intervals(48px);
  @include font(55px, 90px, -1.25px);
  font-weight: 600;
  color: $grey;

  &::after {
    @include head-line(115px, 175px, 3px);
  }
}

.places__description-text {
  @include clear-intervals(50px);
  @include font(16px, 28px, -0.47px);
  padding-right: 80px;
  color: $opacity-grey;
}

.places__description-button {
  width: 250px;
  padding: 30px 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.places__reviews {
  @include clear-intervals(0);
  position: absolute;
  right: 0;
  top: 17%;
  width: 382px;
  padding: 40px 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $white;
}

.places__reviews-title {
  @include clear-intervals(35px);
  @include font(30px, 37px, -0.69px);
  position: relative;
  font-weight: 500;
  color: $grey;

  &::after {
    @include head-line(50px, 68px, 1px);
  }
}

.places__reviews-text {
  @include clear-intervals(32px);
  @include font(14px, 28px, -0.41px);
  color: $opacity-grey;
}

.places__reviews-user {
  @include clear-intervals(0);
  display: flex;
  align-items: center;
}

.places__reviews-image {
  width: 42px;
  height: 38px;
  margin-right: 12px;
}

.places__reviews-name {
  @include clear-intervals(0);
  @include font(16px, 24px, -1.17px);
  font-weight: 500;
  font-style: normal;
  color: $grey;
}
