@mixin clear-intervals ($margin-bottom) {
  margin: 0;
  margin-bottom: $margin-bottom;
  padding: 0;
}

@mixin font ($font-size, $line-height, $letter-spacing) {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
