$mobile-min: 320px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-width: 1024px;
$desktop-max: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$black: #000000;
$light-grey: #fbf8f8;
$grey: #2c2e3f;
$icon-color: #d7d9df;
$text-grey: rgba(20, 21, 23, 0.7);
$link-grey: rgba(20, 21, 23, 0.5);
$background-hero: #3a6683;
$opacity-grey: rgba(44, 46, 63, 0.7);
$light-opacity: rgba(44, 46, 63, 0.3);
$dark-grey: #141517;
$accent: #fe7865;
$accent-hover: #f17d4b;
